{
    "prefix_path": "..",
    "files": [
        {
            "name": "trustinsoft/stub.c"
        },
        {
            "name": "test/allow_global_object.c",
            "cpp-extra-args": "-D__GLIBC__=2 -D__GLIBC_MINOR__=17 -U__clang__ -U__GNUC__"
        },
        {
            "name": "test/allow_inf_and_nan.c",
            "cpp-extra-args": "-D__GLIBC__=2 -D__GLIBC_MINOR__=17 -U__clang__ -U__GNUC__"
        },
        {
            "name": "test/allow_location_information.c",
            "cpp-extra-args": "-D__GLIBC__=2 -D__GLIBC_MINOR__=17 -U__clang__ -U__GNUC__"
        },
        {
            "name": "test/allow_json5.c",
            "cpp-extra-args": "-D__GLIBC__=2 -D__GLIBC_MINOR__=17 -U__clang__ -U__GNUC__"
        },
        {
            "name": "test/allow_leading_plus_sign.c",
            "cpp-extra-args": "-D__GLIBC__=2 -D__GLIBC_MINOR__=17 -U__clang__ -U__GNUC__"
        },
        {
            "name": "test/allow_leading_or_trailing_decimal_point.c",
            "cpp-extra-args": "-D__GLIBC__=2 -D__GLIBC_MINOR__=17 -U__clang__ -U__GNUC__"
        },
        {
            "name": "test/test.c",
            "cpp-extra-args": "-D__GLIBC__=2 -D__GLIBC_MINOR__=17 -U__clang__ -U__GNUC__"
        },
        {
            "name": "test/allow_simplified_json.c",
            "cpp-extra-args": "-D__GLIBC__=2 -D__GLIBC_MINOR__=17 -U__clang__ -U__GNUC__"
        },
        {
            "name": "test/allow_single_quoted_strings.c",
            "cpp-extra-args": "-D__GLIBC__=2 -D__GLIBC_MINOR__=17 -U__clang__ -U__GNUC__"
        },
        {
            "name": "test/allow_unquoted_keys.c",
            "cpp-extra-args": "-D__GLIBC__=2 -D__GLIBC_MINOR__=17 -U__clang__ -U__GNUC__"
        },
        {
            "name": "test/allow_multi_line_strings.c",
            "cpp-extra-args": "-D__GLIBC__=2 -D__GLIBC_MINOR__=17 -U__clang__ -U__GNUC__"
        },
        {
            "name": "test/allow_no_commas.c",
            "cpp-extra-args": "-D__GLIBC__=2 -D__GLIBC_MINOR__=17 -U__clang__ -U__GNUC__"
        },
        {
            "name": "test/allow_hexadecimal_numbers.c",
            "cpp-extra-args": "-D__GLIBC__=2 -D__GLIBC_MINOR__=17 -U__clang__ -U__GNUC__"
        },
        {
            "name": "test/allow_equals_in_object.c",
            "cpp-extra-args": "-D__GLIBC__=2 -D__GLIBC_MINOR__=17 -U__clang__ -U__GNUC__"
        },
        {
            "name": "test/allow_c_style_comments.cpp",
            "cpp-extra-args": "-D__GLIBC__=2 -D__GLIBC_MINOR__=17 -U__clang__ -U__GNUC__"
        },
        {
            "name": "test/main.cpp",
            "cpp-extra-args": "-D__GLIBC__=2 -D__GLIBC_MINOR__=17 -U__clang__ -U__GNUC__"
        },
        {
            "name": "test/write_pretty.cpp",
            "cpp-extra-args": "-D__GLIBC__=2 -D__GLIBC_MINOR__=17 -U__clang__ -U__GNUC__"
        },
        {
            "name": "test/test.cpp",
            "cpp-extra-args": "-D__GLIBC__=2 -D__GLIBC_MINOR__=17 -U__clang__ -U__GNUC__"
        },
        {
            "name": "test/allocator.cpp",
            "cpp-extra-args": "-D__GLIBC__=2 -D__GLIBC_MINOR__=17 -U__clang__ -U__GNUC__"
        },
        {
            "name": "test/allow_trailing_comma.cpp",
            "cpp-extra-args": "-D__GLIBC__=2 -D__GLIBC_MINOR__=17 -U__clang__ -U__GNUC__"
        },
        {
            "name": "test/write_minified.cpp",
            "cpp-extra-args": "-D__GLIBC__=2 -D__GLIBC_MINOR__=17 -U__clang__ -U__GNUC__"
        }
    ],
    "cpp-extra-args": [
        "-I.",
        "-I..",
        "-Itrustinsoft",
        "-D__STDC_VERSION__=201112L"
    ],
    "cxx-cpp-extra-args": [
        "-I.",
        "-I..",
        "-Itrustinsoft",
        "-D__STDC_VERSION__=201112L"
    ]
}
