{
    "files": [
        "stub.c",
        "../test/allow_global_object.c",
        "../test/allow_inf_and_nan.c",
        "../test/allow_location_information.c",
        "../test/allow_json5.c",
        "../test/allow_leading_plus_sign.c",
        "../test/allow_leading_or_trailing_decimal_point.c",
        "../test/test.c",
        "../test/allow_simplified_json.c",
        "../test/allow_single_quoted_strings.c",
        "../test/allow_unquoted_keys.c",
        "../test/allow_multi_line_strings.c",
        "../test/allow_no_commas.c",
        "../test/allow_hexadecimal_numbers.c",
        "../test/allow_equals_in_object.c",
        "../test/allow_c_style_comments.cpp",
        "../test/main.cpp",
        "../test/write_pretty.cpp",
        "../test/test.cpp",
        "../test/allocator.cpp",
        "../test/allow_trailing_comma.cpp",
        "../test/write_minified.cpp"
    ],
    "cpp-extra-args": [
        "-I.",
        "-I..",
        "-Itrustinsoft",
        "-D__STDC_VERSION__=201112L"
    ],
    "cxx-cpp-extra-args": [
        "-I.",
        "-I..",
        "-Itrustinsoft",
        "-D__STDC_VERSION__=201112L"
    ]
}
