[
    {
        "name": "FULL main.cpp",
        "files": [
            "trustinsoft/stub.c",
            "test/main.cpp",
            "test/test.c",
            "test/allocator.cpp",
            "test/allow_c_style_comments.cpp",
            "test/allow_equals_in_object.c",
            "test/allow_global_object.c",
            "test/allow_hexadecimal_numbers.c",
            "test/allow_inf_and_nan.c",
            "test/allow_json5.c",
            "test/allow_leading_or_trailing_decimal_point.c",
            "test/allow_leading_plus_sign.c",
            "test/allow_location_information.c",
            "test/allow_multi_line_strings.c",
            "test/allow_no_commas.c",
            "test/allow_simplified_json.c",
            "test/allow_single_quoted_strings.c",
            "test/allow_trailing_comma.cpp",
            "test/allow_unquoted_keys.c",
            "test/write_minified.cpp",
            "test/write_pretty.cpp"
        ],
        "machdep": "gcc_x86_64",
        "cpp-extra-args": [
            "-I.",
            "-Itest",
            "-Itrustinsoft",
            "-D__STDC_VERSION__=201112L",
            "-DUTEST_USE_CLOCKGETTIME"
        ],
        "cxx-cpp-extra-args": [
            "-I.",
            "-Itest",
            "-Itrustinsoft",
            "-D__STDC_VERSION__=201112L",
            "-DUTEST_USE_CLOCKGETTIME"
        ]
    },
    {
        "name": "json_parse test_parsing/y_number.json",
        "include": "trustinsoft/tis_test.config",
        "filesystem": {
            "files": [
                {
                    "name": "test.json",
                    "from": "trustinsoft/JSONTestSuite/test_parsing/y_number.json"
                }
            ]
        }
    }
]
